/*
 * DOA - (customizable TeamSpeak Theme)
 * Author: ImScheinox
 * Version: 1.0.0
 * Description: A light appearance for TeamSpeak 5/6.
 */

/* ==========================================================================
   1. Core Variables (--teamspeak-*)
   ========================================================================== */

@import url(DOA_light.css);
:root,
::after,
::before {
  /* --- Base Color Palette  --- */

  /* Accent Color */
  --teamspeak-blue: #28a745;                  
  --teamspeak-blue-hover: #1e7e34;            
  --teamspeak-blue-transparent: rgba(40, 167, 69, 0.3); 
  --teamspeak-blue-transparent-light: rgba(40, 167, 69, 0.1); 

}