/*
 * DOA - (Highly customizable TeamSpeak Theme)
 * Author: ImScheinox
 * Version: 1.0 
 * Description: A dark appearance for TeamSpeak 5/6.
 */

/* ==========================================================================
   1. Core Variables (--teamspeak-*)
   ========================================================================== */

@import url(DOA_ts.css);
:root,
::after,
::before {
  /* --- Base Color Palette  --- */

  /* Accent Color */
  --teamspeak-blue: #dc3545; 
  --teamspeak-blue-hover: #c82333; 
  --teamspeak-blue-transparent: rgba(220, 53, 69, 0.3); 
  --teamspeak-blue-transparent-light: rgba(220, 53, 69, 0.1); 

 }