/*
 * DOA - (customizable TeamSpeak Theme)
 * Author: ImScheinox
 * Version: 1.0.0
 * Description: A light appearance for TeamSpeak 5/6.
 */

/* ==========================================================================
   1. Core Variables (--teamspeak-*)
   ========================================================================== */

@import url(DOA_light.css);
:root,
::after,
::before {
  /* --- Base Color Palette  --- */

  /* Accent Color */
  --teamspeak-blue: #e83e8c;                  
  --teamspeak-blue-hover: #c2185b;            
  --teamspeak-blue-transparent: rgba(232, 62, 140, 0.3); 
  --teamspeak-blue-transparent-light: rgba(232, 62, 140, 0.1); 

  }