/*
 * DOA - (Highly customizable TeamSpeak Theme)
 * Author: ImScheinox
 * Version: 1.0 
 * Description: A even darker appearance for TeamSpeak 5/6.
 */

/* ==========================================================================
   1. Core Variables (--teamspeak-*)
   ========================================================================== */
@import url(DOA_darker.css);
:root,
::after,
::before {
  /* --- Base Color Palette  --- */

  /* Accent Color */
  --teamspeak-blue: #fd7e14;                  
  --teamspeak-blue-hover: #e66900;            
  --teamspeak-blue-transparent: rgba(253, 126, 20, 0.3); 
  --teamspeak-blue-transparent-light: rgba(253, 126, 20, 0.1); 

  /* ==========================================================================
   End of DOA Theme CSS
   ========================================================================== */